.second-section{
height: 50vh;
width: 100%;
padding: 20px;
display: flex;
justify-content: center;
flex-direction: column;
background-color: #252525;

}

.second-section h2{
    text-align: start;
    color: #fff;
    font-size: 30px;
    margin-bottom: 20px;
}

.second-section h3{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}

.second-section a{
    padding: 20px;
    width: 200px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
    transition: .3s;
    text-decoration: none;    
    color: black;
    font-weight: 600;
}

.second-section a:hover{
    background-color: blue ;
    color: #fff;
    transform: scale(1.1);
}